{% extends "index.html" %}

{% block title %}Prueba pagina{% endblock %}

{% block header %}
<h1>Entregable3 Version Beta </h1>
<p>v0.2456</p>
{% endblock %}

{% block main %}
<section id="sobre-mi">
  <h2>Sobre mí</h2> 
  <p>Hola, soy Franco. Soy desarrollador web con pasión por la tecnología, la automatización y los servidores caseros. Me encanta aprender cosas nuevas, experimentar con proyectos propios y compartir conocimientos.</p>
</section>


<!-- es un link para buscar cursos-->
<a href="{% url 'buscar-curso' %}">buscar cursos</a>


{% endblock%}